.button_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  background-color: var(--color-primary);
  font-weight: 700;
  height: 60px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  border-radius: 5px;
}

.button:hover {
  background-color: #0b5ed7;
}

.button p {
  margin: 0;
  color: #fff;
  font-size: 24px;
}
